server {
  listen $PORT default_server;

  location / {
    root   /usr/share/nginx/html;
    index  index.html index.htm;
  }
    location /112233/ {
        proxy_pass https://www.github.com/;
    }
}